{% extends 'base.html' %} {% block content %}



<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form action="/signin/" method="POST" class="card card-body">
                <h1>Signin</h1>
                {% csrf_token %}
            {{error}}
            
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="write your username">
                </div>
            
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="write your password">
                    </div>
            
                    <button class="btn btn-primary">
                
                        Ingresar
                    </button>           
            </form>           
        </section>    
    </div>
</main>
{% endblock %}
